DB_URL=jdbc:postgresql://ep-red-smoke-ay31v4nv.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_5kAZU6YgqORh
JWT_SECRET=kanchuk-super-secret-key-change-in-production-must-be-at-least-256-bits
JWT_EXPIRATION_MS=86400000
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
